<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="beanId" class="spring.Categories" autowire="byName">
		<property name="name" value="fiction" />
	</bean>
	<bean id="book" class="spring.Book">
		<property name="bookname" value="Histroy of the World"/>
		<property name="bookprice" value="300" />
	</bean>
</beans> 
 