<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="beanId1" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/test?useSSL=false"/>
		<property name="username" value="root"/>
		<property name="password" value=""/>	
	</bean>
	<bean id="beanId2" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg>
			<ref bean="beanId1"/>
		</constructor-arg>
	</bean>
	<bean id="beanId3" class="spring.SpringJdbcSelect">
		<property name="jdbcTemplate">
			<ref bean="beanId2"/>
		</property>
	</bean>
</beans> 
 